<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="An example page description">
    <meta name="author" content="Xillion Publisher">
    <title>{{ resource['content.xillion.cloud/title']|default('No title') }}</title>
  </head>
  <body>
    <h1>{{ resource['content.xillion.cloud/title']|default('No title') }}</h1>
    <p>The content</p>
  </body>
</html>
